@model IEnumerable<Tartarus_final.Models.Poruka>

@{
    ViewData["Title"] = "Index";
}

<h1>Messages</h1>

<p>
    <a asp-action="Create">Compose new</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="text-align: center; background-color: #ffffff;">
                Text
            </th>
            <th style="text-align: center; background-color: #ffffff;">
                Receiver
            </th>
            <th style="text-align: center; background-color: #ffffff;">
                Sender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center; background-color: #ffffff;">
                    @Html.DisplayFor(modelItem => item.Tekst)
                </td>
                <td style="text-align: center; background-color: #ffffff;">
                    @Html.DisplayFor(modelItem => item.PrimalacEmail)
                </td>
                <td style="text-align: center; background-color: #ffffff;">
                    @Html.DisplayFor(modelItem => item.posiljalacEmail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ShowSent", "Poruka")'">Sent</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Poruka")'">Received</button>
</div>